body{
    font-family: 'Montserrat', sans-serif;
}

.container {
    margin: 0 auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50vw;
}

#bill-amount, #cash-given{
    width: 16rem;
    height: 2.5rem;
    border-radius: 0.5rem;

    outline: none;
    border-color: blue;
}

label{
    font-weight: 700;
    font-size: 1.5rem;
    margin-bottom: 1rem;
    
}

#check-button{
    border: none;
    outline: none;
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: blue;
    font-size: 1.5rem;
    border-radius: 0.5rem;
    color: #fff;
}


/* Table */
.change-table {
    width: 50%;
    text-align: justify;
    border-collapse: collapse;
    margin: auto;
  }
  
  .change-table caption {
    /* background-color: red; */
    margin: 1rem auto;
    font-size: x-large;
    font-weight: 500;
  }
  
  th,
  td {
    border: 2px solid blue;
    border-collapse: collapse;
    padding: 1rem;
  }
  


